html
	head
		title Удалить пользователя
	body
		h1 Удалить пользователя
	-if (error)
		div error
	-else
		form(name="editUser", method="post")
			div.input
				span.label Имя
				br
				input(type="text", name="name" value=user.name)
			div.actions
				br
				input(type="submit", value="Удалить")
		p
			a(class='button', href='/users/') Вернуться в список