html
	head
		title Список задач
	body
		h1 Список задач
	-if (error)
		div error
	-else
		-var i=0
		-for task in tasks
			p 
				b Имя: 
				=task.name
			p
				b Описание: 
				=task.description
			p
				b Статус: 
					-if(task.opened)
						b Открыта
					-else
						b Закрыта
			p Пользователь:
			-if(task.user)
				b
					=delegate[i] + ' (' + task.user + ')'					
			p
				a(class='button', href='/task/edit/' + task.id) Изменить
			p
				a(class='button', href='/task/delete/' + task.id) Удалить
			hr
			-i++
		p
			a(class='button', href='/task/add/') Добавить задачу
		p
			a(class='button', href='/users/') Список пользователей